{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Expense/css/main.css' %}">
    <title>{% block title %} Expense Tracker {% endblock %} </title>
</head>
<body>
    <header>
        <nav class = "navbar">
            <ul>
                <li>
                    <a href = "/home" class = "nav">Home</a>
                    <a href = "/add" class = "nav">Add Expense</a>
                    <a href = "/view" class = "nav">View Expenses</a>
                    
                </li>
            </ul>
        </nav>
    </header>
    <div class = "container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2025 Expense Tracker</p>
    </footer>

</body>
</html>